<!DOCTYPE html>
<html>
	<head>
		<title>Sudoku-Tutorial</title>	
		<link rel="canonical" href="https://sudoku-tutorial.appspot.com/">
		
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="/static/styles/main.css" rel="stylesheet" >
		<link href="/static/styles/icons.css" rel="stylesheet" >
		<link href="/static/styles/buttons.css" rel="stylesheet" >
		<link href="/static/styles/nprogress.css" rel="stylesheet"/>
		<link href="/static/styles/introjs.min.css" rel="stylesheet"/>
		<link href="/static/styles/introjs-nassim.css" rel="stylesheet"/>
		<link href="/static/styles/jquery.mmenu.all.css" rel="stylesheet"/>
		<link href="/static/styles/jquery.mmenu.themes.css" rel="stylesheet"/>
		
		<script src="/static/scripts/libs/jquery-2.1.4.min.js"></script>
		<script src="/static/scripts/libs/underscore-min.js"></script>
		<script src="/static/scripts/libs/xdomainajax.js"></script>
		<script src='/static/scripts/libs/nprogress.js'></script>
		<script src='/static/scripts/libs/intro.min.js'></script>
		<script src='/static/scripts/libs/jquery.mmenu.min.all.js'></script>
		
		<script src="/static/scripts/initialize.js"></script>
		<script src="/static/scripts/scrape.js"></script>
		<script src="/static/scripts/retrieve.js"></script>
		<script src="/static/scripts/solve.js"></script>
		<script src="/static/scripts/tutorial.js"></script>
		<script src="/static/scripts/main.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="/static/icon.png" />
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-67748420-1', 'auto');
		  ga('send', 'pageview');
	</script>
	</head> 
	
	<body>
		<nav id="my-menu">
		   <ul>
			  <li><span id="naked-pairs" class="solve-methods"> Naked Pairs</span></li>
			  <li><span id="naked-triples" class="solve-methods"> Naked Triples</span></li>
			  <li><span id="box-line-pointing" class="solve-methods"> Box Line Pointing</span></li>
			  <li><span id="x-wing" class="solve-methods"> X-Wing</span></li>
			  <li><span id="xy-wing" class="solve-methods"> XY-Wing</span></li>
			  <li><span id="skyscraper" class="solve-methods"> Skyscraper</span></li>
			  <li><span id="swordfish" class="solve-methods"> Swordfish</span></li>
			  <li><span id="2-string-kite" class="solve-methods"> 2-String Kite</span></li>
		   </ul>
		</nav>
		<div class = "page-content">
			<div class = "social-container">
				<a class="social" href="https://www.facebook.com/sudokututorialjamarshon" target="_blank">
					 <div class="front">
						<i class="fa fa-facebook"></i>
					 </div>
					 <div class="back">
						<i class="fa fa-facebook"></i>
					 </div>
				</a>

				<a class="social social-github" href="https://github.com/jamarshon" target="_blank">
					 <div class="front">
						<i class="fa fa-github"></i>
					 </div>
					 <div class="back">
						<i class="fa fa-github"></i>
					 </div>
				</a>

				<a class="social social-linkedin" href="https://ca.linkedin.com/pub/jason-lian/a6/110/2b9" target="_blank">
					 <div class="front">
						<i class="fa fa-linkedin"></i>
					 </div>
					 <div class="back">
						<i class="fa fa-linkedin"></i>
					 </div>
				</a>
			</div>
		</div>
	</body>
</html>